body{
  background: #f7f7f7;
  color: #272727;
  font-size: 1rem;
  line-height: 1.4em;
  margin: 0px;
  font-family: 'Bitter', serif;
}

.cargando{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}

/* Card Style ------------------------- */

.top {
  margin-left: 1rem;
  width: 65px !important;
}

.contenedores {
  padding-top: 10rem;
  margin: 0rem 4rem;
  border-style: hidden;
  padding-bottom: 10rem;
}

.cartita {
  margin-right: 2rem;
  margin-left: 2rem;
  border: none !important;
}

.cartatitulo {
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  font-family: 'Bitter', serif;
  color: #02417B;

/* Hover */

  background:
    linear-gradient(
      to right,
      rgba(2, 65, 123),
      rgba(2, 65, 123)
    ),
    linear-gradient(
      to right,
      rgba(2, 65, 123, 1),
      rgba(228, 99, 39, 1)
  );
  background-size: 0% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 1000ms;
}

.cartatitulo:hover {
  background-size: 0 3px, 100% 3px;
}

.cartatexto {
  padding-top: 0.5rem;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #5d5d5d;
  width: 95%;

}

.contenedores {
  padding-top: 2rem;
}

.links ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  }

.logowp:hover {
  fill: #016bab;
}

/* NavBar Style */

.navbar-default {
  font-family: 'Bitter', serif;
  color: #ffffff;
  height: 90px;
}

.botonBDT{
  background: none;
}

.botonBDT:hover{
 background: #272727 !important;
}

.espacio{
  display: flex;
  justify-content: end;
}



/* Carousel Style ---------------------------- */

.tituloNegocio{
  font-size: 5rem;
  font-family: 'Bitter', serif;
}

.cartatitulo:hover {
background-size: 0 3px, 100% 3px;
}

.d-block{
  height: 100%;
}

.carousel-caption {
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.colorprincipal{
  color: #ffffff;
}

.negritacuantif{
  color: #e46327;
}

.imagenBDT {
  width: 28rem;
  padding-right: 8rem;

}

.imagenSoluciones {
  width: 29rem;
  padding-right: 8rem;
}

.isologo {
  width: 32rem;
  padding-right: 8rem;
}

.carouselBloque {
  display: flex;
  align-items: center ;
}

.textoMineria {
  color: #b6b6b6;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  width: 32rem;
  text-align: left;
  font-size: 20px;
}

.alineacion{
  margin-left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* .alineacion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
} */


.carouselContainer{
  justify-content: space-between;
}

.espaciado {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}



/* Forms ----------------------- */

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 100px auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h3 {
	margin-top: 4rem;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #016bab;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}


/*formulario*/

.formulario {
	border-radius: 0px;
	background-color: #fff;
	padding: 20px 0;
}
form label {
	font-weight: 700;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 0.6rem;
	margin-bottom: 16px;
	resize: vertical;
}
input[type="submit"] {
  margin-top: 2rem;
	background-color: #016bab;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
  font-weight: 700;
	font-size: 15px;
}

h3 {
  font-family: 'Bitter', serif;
  font-size: 5rem;
  font-weight: 700;
  color: #016bab;
}

.contactanos{
  font-size: 20rem;
}


/* Media Queries Responsive ----------------------- */

@media (max-width: 500px) {

/* Queries NavBarContainer  ----------------------- */

.navbar-default{
  padding-left: 2rem;
  display: flex;
  height: 65px;
  background:
    linear-gradient(
      to right,
      rgba(2, 65, 123),
      rgba(1, 107, 171)
    );
  width: fit-content;
  flex-direction: column;
}

.espacio{
 visibility: hidden;
}



/* Queries CarouselContainer ---------------------- */

.carousel-indicators {
  visibility: hidden;
}

.carousel-control-next {
  visibility: hidden;
}

.carousel-control-prev {
  visibility: hidden;
}

.caption-va{
  top: 65px;
  height: 500px;
  background:
  linear-gradient(
    to right,
    rgba(1, 107, 171),
    rgba(2, 65, 123)
  );
}

.d-block{
  height: 400px;
  visibility: hidden;
}

.alineacion{
  display: flex;
  justify-content:flex-start
}

.espaciado{
  margin-left: 0%;
  padding-left: 0%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.carousel-caption {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.tituloNegocio{
  font-size: 3rem;
}

p{
  width: 93%;
  text-align: left;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.imagenSoluciones{
  width: 17rem;
  padding-bottom: 2rem;
  }

.imagenBDT{
  width: 12rem;
  padding-bottom: 2rem;
}

.isologo{
  width: 26rem;
  padding-bottom: 1rem;

}

  
/* TextosContainer */

.contenedores {
  padding-left: 0;
  padding-top: 3rem;
  margin: 0rem 0rem;
  border-style: hidden;
}

.top {
  width: 18rem;
}

.cartita{
  top: 65px;
}

.cartatitulo {
  font-size: 0.5rem;
}

.cartatexto {
  width: 100%;
  font-size: 1rem;
}

}