body{
  background: #f7f7f7;
  color: #272727;
  font-size: 1rem;
  line-height: 1.4em;
  margin: 0px;
  font-family: 'Bitter', serif;
}


.loading {
  display: flex;
  justify-content: center;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: #009579;
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }
  
  to {
    transform: rotate(1turn);
  }
}


/* Card Style ------------------------- */

.top {
  margin-left: 1rem;
  width: 50px !important;
}

.contenedores {
  margin: 0rem 4rem;
  border-style: hidden;
}

.cartita {
  margin-right: 2rem;
  margin-left: 2rem;
  border: none !important;
}
 
.cartatitulo {
  margin-top: 1rem;
  font-family: 'Bitter', serif;
  font-size: 1.1rem !important;
  color: #02417B;
}

.cartatexto {
  padding-top: 0.1rem;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  color: #5d5d5d;
  width: 185px;

}

.contenedores {
  padding-top: 1.4rem;
}

.links ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  }

/* NavBar Style */

.botonAB:hover{filter: opacity(.5) !important;
}

.botonBDT{
  background: none;
}

.botonBDT:hover{
 background: #272727 !important;
}

.espacio{
  display: flex;
  justify-content: end;
}

.navbar-default {
  font-family: 'Bitter', serif;
  color: #ffffff;
  height: 90px;
}

/* Carousel Style */

.carousel-caption {
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}

.colorprincipal{
  color: #02417B;
}

.negritacuantif{
  color: #e46327;
}

.imagenBDT {
  width: 15rem;
}

.imagenSoluciones {
  width: 25rem;
}


.carouselBloque {
  display: flex;
  align-items: center !important;

}

.textoMineria {
  color: #b6b6b6;
}

h1 {  
  text-align: left;
  font-size: 70px !important;
  font-family: 'Bitter', serif;
}

h2 {
  display: flex;
  text-align: left !important;
  align-items: flex-start !important;
  font-size: 50px !important;
  font-family: 'Bitter', serif;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  width: 430px;
  text-align: left;
  font-size: 16px;
}

.alineacion{
  margin-left: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* .alineacion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
} */

.button {
  width: 2rem !important;
}

.carouselContainer{
  justify-content: space-between;
}

.espaciado {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.encabezado{
  padding: 1rem 3rem;
}
